
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* { box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/********** 초기화 끝 ***************************************************/

body {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
  background-color: #EDEDED;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #717171;
}

.app  {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 0;
  margin-top: 50px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 0px 20px;
  background-color: #ffffff;
  box-shadow: 10px 5px 5px #e7e7e7;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

header h1 {
  color: #343233;
  margin-bottom: 20px;
}

header p {
  font-size: 1rem;
  color: #ffffff;
}

header input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 3px;
  border: 1px solid #717171;
}

.info {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 10px 5px 5px #e7e7e7;   
  border-bottom: 1px solid #EAE9EA;
}

.info span {
  color: #444444;
}

.main {
  width: 100%;
  /* 최상단 메뉴 있을 경울 - 50*/
  max-height: calc(100vh - 310px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 5px 5px #e7e7e7;   
  
  overflow-y: scroll;
  /* 스크롤 숨기고 스크롤은 되게: IE, Edge, Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */       
}

.main::-webkit-scrollbar  {
  display: none;
}

.main ul {
  width: 600px;
}

.main ul li {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  background-color: #ffffff;
  font-size: 1rem;
  color: #444444;
  border-bottom: 1px solid #eaeaea;    
}

.main ul li:last-child {

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
}

.main ul li span {
  padding: 7px;
}

.main ul li input[type="checkbox"] {
  width:20px;
  height: 20px;
  margin-right: 15px;
}

.main ul li input[type="text"] {
  padding: 10px;
  width: 600px;
  border: 1px solid #717171;
  z-index: 1000;
  font-size: 1rem;
}

.main ul li a {
  position: absolute;
  top: 25px;
  right: 20px;
  text-decoration: none;
  color: #444444;

}

/********** utils ***************************************************/

.btn {
  padding: 10px;
  color: #444444;
  font-size: 0.8em;
  border: none;
  margin-left: 0;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
  background-color: #eaeaea;
}

.btn:hover {
  background-color: #343434;
  color: #ffffff;
}

.selected {
  background-color: #343434;
  color: #ffffff;
}

.located {
  border-bottom: 2px solid #005EFF;
}